# Criando um Banco de Dados SQLite

## Acessando Banco de Dados com Python

In [ ]:
# Importando o módulo de acesso ao SQLite
import sqlite3

In [ ]:
# Cria uma conexão com o banco de dados.
# Se o bancos de dados não existir, ele é criado neste momento.
con = sqlite3.connect('escola.db')

In [ ]:
type(con)

In [ ]:
# Criando um cursor
# (Um curso permite percorrer todos os registros em um conjunto de dados)
cur = con.cursor()

In [ ]:
type(cur)

In [ ]:
# Cria uma instrução sql
sql_create = "create table cursos ("\
"id integer primary key,"\
"titulo varchar(100),"\
"categoria varchar(140))"

In [ ]:
# Executar a instrução sql no cursor
cur.execute(sql_create)

In [ ]:
# Criando outra sentença SQL para inserir registros
sql_insert = 'insert into cursos values (?, ?, ?)'

In [ ]:
# Dados
recset = [(1000, 'Ciência de Dados', 'Data Science'),
         (1001, 'Big Data Fundamentos', 'Big Data'),
         (1002, 'Python Fundamentos', 'Análise de Dados')]

In [ ]:
#inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [ ]:
# Gravar a transação
con.commit()

In [ ]:
# Criando outra sentença SQL para selecionar registros
sql_select = 'select * from cursos'

In [ ]:
# Selecionar todos os registros
cur.execute(sql_select)

In [ ]:
# Recuperar os resultados
dados = cur.fetchall()

In [ ]:
# Mostra
for linha in dados:
    print('Curso Id: %d, Titulo: %s, Categoria: %s\n' %linha)

In [ ]:
# Gerando outros registos
recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
         (1004, 'R Fundamentos', 'Análise de Dados')]

# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)
    
# Gravando a transação
con.commit()

In [ ]:
# Seleciona todos os registros
cur.execute(sql_select)

# Recupera os resultados
dados = cur.fetchall()

# Mostra
for tupla in dados:
    print(tupla)
    
print("\n\n {:^80} \n\n".format("*"*40))

# Mostra
for tupla in dados:
    print('Curso Id: %d, Titulo: %s, Categoria: %s\n' %tupla)

In [ ]:
# Fechar a conexão
con.close()

### The End